// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#test-section {
	display: none;
}

.hidden {
	display: none;
}

.clickme {
	font-family: verdana;
	color: #66bbbb;
	cursor: hand;
	cursor: pointer;
}

.clickme:hover {
	text-decoration: underline;
	color: #dd66dd;
}


